
    
    <link rel="stylesheet" href="external-styles.css">
    
    <style> 
        .bottom-box-1 {
                background-color: #ffffff;
                width: 1250px;
                height: 100px;

        }
    
    </style>